{% extends "base.html" %}

{% block footer %}
{% endblock %}

{% block content %}
{% load widget_tweaks %}
{% if user.is_authenticated %}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6 offset-md-3">
            <nav>
                <h1>Edit single row</h1>
            </nav>

            <form method="post">
                {% csrf_token %}
                {% for hidden_field in form.hidden_fields %}
                    {{ hidden_field }}
                {% endfor %}

                {% for field in form.visible_fields %}
                    <div class="form-group">
                    {{ field.label_tag }}
                    {% render_field field class="form-control" %}
                    {% if field.help_text %}
                        <small class="form-text text-muted">{{ field.help_text }}</small>
                    {% endif %}
                    </div>
                {% endfor %}
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>


        </div>
    </div>
</div>
{% endif %}

{% endblock %}
