{% extends "base.html" %}
{% block title %}
Your Homepage
{% endblock %}


{% block content %}
{% if user.is_authenticated %}
<div class="container-fluid">
    <nav>
        <h1>Welcome to Finance</h1>
    </nav>

    <h2>Hello {{ user.username }}</h2>

    <div>
        <a class="btn btn-danger" href="{% url 'main:recommendation-create' %}" role="button">Add new entry</a>
        <div id="toolbar" class="select">
            <select class="form-control">
                <option value="all">Export All</option>
                <option value="selected">Export Selected</option>
            </select>
        </div>
    </div>
    {% csrf_token %}

    <div class="table-responsive" data-toggle="table"
        data-search="true"
        data-show-columns="true"
        data-buttons-align="left"
        data-cookie="true"
        data-cookie-id-table="saveId"
        data-click-to-select="true"
        data-show-copy-rows="true"
        data-show-export="true"
    >
        <table class="table table-bordered border-primary caption-top">
            <caption>List of users</caption>
            <thead>
                <tr>
                    <th scope="col">ID in Table</th>
                    <th scope="col">Edit</th>
                    <th scope="col">Starting Date</th>
                    <th scope="col">Ending Date</th>
                    <th scope="col">Time Horizon</th>
                    <th scope="col">Positioning</th>
                    <th scope="col">Position</th>
                    <th scope="col">Outperformance</th>
                    <th scope="col">BBG Ticker 1</th>
                    <th scope="col">BBG Ticker 2</th>
                    <th scope="col">Pitch</th>
                </tr>
            </thead>
            <tbody>
                {% for rec in recommendations %}
                <tr>
                    <th scope="row">{{ rec.id }}</th>
                    <td><a class="btn btn-primary" href="{% url 'main:recommendation-update' rec.id %}" role="button">Update</a></td>
                    <td>{{ rec.starting_date }}</td>
                    <td>{{ rec.ending_date }}</td>
                    <td>{{ rec.positioning }}</td>
                    <td>{{ rec.position }}</td>
                    <td>{{ rec.description }}</td>
                    <td>{{ rec.outperformance }}</td>
                    <td>{{ rec.time_horizon }}</td>
                    <td>{{ rec.bloomberg_ticker_1 }}</td>
                    <td>{{ rec.bloomberg_ticker_2 }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <script type="">
    var $table = $('#table')

    $(function() {
        $('#toolbar').find('select').change(function () {
            $table.bootstrapTable('destroy').bootstrapTable({
                exportDataType: $(this).val(),
                exportTypes: ['csv', 'excel'],
            })
        }).trigger('change')
    })
    </script>

</div>
{% else %}

{% endif %}

{% block footer %}
{% endblock %}

{% endblock %}
