{% extends "base.html" %}

{% block head %}
<script type="text/javascript" src="https://oss.sheetjs.com/sheetjs/xlsx.full.min.js"></script>
{% endblock %}

{% block footer %}
<script type="text/javascript">
    var table = new Tabulator("#example-table", {
        height:205, // set height of table (in CSS or here), this enables the Virtual DOM and improves render speed dramatically (can be any valid css height value)
        ajaxURL:"https://djangoex.herokuapp.com/recommendation/",
        ajaxConfig:{
            method:"POST",
            headers: {
                "Authorization": 'Token 6e9e2fc75444377bb5a7078179b391118cbb92db', //set specific content type
            },
        },
        clipboard:true,
        clipboardPasteAction:"replace",
        layout:"fitColumns",
        columns:[
            {title:"Starting Date", field:"starting_date", width:150, editor:true},
            {title:"Ending Date", field:"ending_date", editor:true},
            {title:"Time Horizon", field:"time_horizon",editor:true},
            {title:"Positioning", field:"positioning", align:"center",editor:true},
            {title:"Position", field:"position", align:"center",editor:true},
            {title:"Outperformance", field:"outperformance", align:"center",editor:true},
            {title:"BBG Ticker 1", field:"bloomberg_ticker_1", align:"center",editor:true},
            {title:"BBG Ticker 2 (for Pair Trade)", field:"bloomberg_ticker_2", align:"center",editor:true},
            {title:"Pitch", field:"description", align:"center",editor:true},
            {title:"Analyst's Name", field:"user", align:"center",editor:false},
        ],
    });
    document.getElementById("add-row").addEventListener("click", function(){
        table.addRow({});
    });
    //trigger download of data.csv file
    document.getElementById("download-csv").addEventListener("click", function(){
        table.download("csv", "data.csv");
    });
    //trigger download of data.xlsx file
    document.getElementById("download-xlsx").addEventListener("click", function(){
        table.download("xlsx", "data.xlsx", {sheetName:"My Data"});
    });

</script>

{% endblock %}

{% block content %}
<h1>Hello World!</h1>
<div>
    <button id="download-csv">Download CSV</button>
    <button id="download-xlsx">Download XLSX</button>
    <button id="add-row">Add Blank Row to the top</button>
</div>

{% endblock %}
