<!doctype html>
<html lang="en">
<head>
    <title>{% block title %}{% endblock %} - Web</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'all_files.css' %}">
    <script src="{% static 'all_files.js' %}" crossorigin="anonymous"></script>
    {% block head %}{% endblock %}
</head>
<body>
    <header>
        {% block header %}{% endblock %}
    </header>
    {% block content %}{% endblock %}


{% block footer %}{% endblock %}
</body>
</html>

